# # .NET
# bin/
# obj/
# *.user
# *.suo
# .vs/

# # Angular
# node_modules/
# .angular/
# dist/

# # Secrets
# appsettings.json
# appsettings.*.json


# .NET (Will ignore bin, obj and user settings in any backend layer)
**/bin/
**/obj/
**/.vs/
*.user
*.suo

# Angular (Will ignore local packages and build outputs in frontend)
**/node_modules/
**/.angular/
**/dist/

# Secrets & Configuration
# We keep appsettings.json open so Mali, Sari, Tova, and Tali can run the project instantly.
# We only ignore environment-specific adjustments if created.
**/*appsettings.Development.json
**/*appsettings.Production.json
